.allproducts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 10px;
    gap: 10px;
    /* margin-right: 20px; */

}
.myproducts{
   
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid blue;
    padding: 30px;
}
.myproducts img{
    width: 200px;
    height: 200px;
   
}
#product{
    margin-top: 60px;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    color: red;
}
button{
    margin-left: 10px;
    border: none;
    padding: 12px 22px;
    margin-bottom: 20px;
}